.contact-us {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
	margin-left: auto;

	&__item {
		transition: color $transitions;

		&:not(:last-child) {
			margin-right: 50px;
		}
	}
}

.contact-us__link {
	text-decoration: none;
	display: flex;
	align-items: center;
	padding-top: 32px;
	padding-bottom: 32px;
	color: $title-text-color;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.1;
	letter-spacing: 0.02em;
	text-decoration: none;
	transition: color $transitions;

	&:hover,
	&:focus {
		color: $accent-color;
	}
}

.contact-us__icon--mail {
	width: 16px;
	height: 11.2px;
	margin-right: 10px;
}

.contact-us__icon--phone {
	width: 10px;
	height: 14.94px;
	margin-right: 10px;
}

.contact-us__item {
	transition: color $transitions;

	&:hover,
	&:focus {
		fill: $accent-color;
	}
}
