.project {
	padding-top: 94px;
	padding-bottom: 94px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
	width: 1200px;
	outline: 2px solid tomato;

	&__title {
		position: absolute;
		width: 1px;
		height: 1px;
		margin: -1px;
		border: 0;
		padding: 0;
		clip: rect(0 0 0 0);
		overflow: hidden;
	}
}

.button {
	text-align: center;
	margin-bottom: 50px;

	&__item {
		margin: 0;
		padding: 6px 22px;
		border-radius: 4px;
		border-width: 0;
		color: $primary-text-color;
		background-color: $second-fon-color;
		font-family: inherit;
		font-weight: 500;
		font-size: 16px;
		line-height: 1.62;
		text-align: center;
		letter-spacing: 0.03em;
		transition: background-color $transitions;

		&:not(:last-child) {
			margin-right: 8px;
		}

		&:hover,
		&:focus {
			color: $primary-white-color;
			background-color: $accent-color;
			cursor: pointer;
		}
	}
}

.project-list {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	margin: 0;
	padding: 0;

	&__item {
		position: relative;
		transition: box-shadow $transitions;
	}

	&__item:hover {
		box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
			0px 1px 1px rgba(0, 0, 0, 0.12);
		cursor: pointer;
	}
}

.project-list--active {
	position: relative;
	overflow: hidden;

	&::before {
		display: inline-block;
		position: absolute;
		content: "";
		background-color: rgba(33, 150, 243, 0.9);
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		width: 100%;
		height: 100%;
		opacity: 0;
		transform: translateY(calc(0% + 200px));
		transition: transform $transitions, opacity $transitions;
	}
}

.project-list__item:hover .project-list--active::before {
	transform: translateY(0%);
	opacity: 1;
}

.project-list__item:hover .project-subject__desc {
	transform: translateY(0%);
	opacity: 1;
}

.project-list__item:not(:nth-child(3n)) {
	margin-right: 30px;
}

.project-list__item:not(:nth-last-child(-n + 3)) {
	margin-bottom: 30px;
}

.project-list__link {
	text-decoration: none;
}

.roject-list__img {
	display: block;
	max-width: 100%;
	height: auto;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.project-subject {
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 24px;
	padding-right: 24px;
	border-bottom: 1px solid #eeeeee;
	border-right: 1px solid #eeeeee;
	border-left: 1px solid #eeeeee;
	box-sizing: border-box;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

.project-subject__name {
	margin: 0;
	margin-bottom: 4px;
	color: $primary-text-color;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.19;
	letter-spacing: 0.06em;
}

.project-subject__text {
	margin: 0;
	color: $title-text-color;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.19;
	letter-spacing: 0.03em;
}

.project-subject__desc {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	margin: 0;
	color: $primary-white-color;
	font-weight: 400;
	font-size: 18px;
	line-height: 1.6;
	letter-spacing: 0.03em;
	padding: 63px 24px;

	opacity: 0;
	transform: translateY(calc(0% + 200px));
	transition: transform $transitions, opacity $transitions;
}
